h6 {
  color: #777;
}
.app {
  padding-top: 20px;
}
.content {
  margin-top: 30px;
}
.start-alert {
  width: 50%;
  margin: 0 auto;
}
.form-controll {
  margin-top: 20px;
  text-align: center;
}
.form-controll .btn-group {
  width: 60%;
}
.form-controll .form-group input {
  border: 2px #eee solid;
  border-radius: 2px;
  padding: 10px;
  display: block;
  margin: 0 auto;
  width: auto;
  overflow: hidden;
}
.form {
  padding: 25px;
  max-width: 60%;
  margin: 0 auto;
}
.form-header {
  text-align: center;
  text-transform: uppercase;
}
.form-btns {
  margin-top: 10px;
}
.form-group {
  padding: 0;
}
.form-cleared,
.form-error {
  text-align: center;
  width: 50%;
  margin: 0 auto;
}
